/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}
